{% extends 'abibas/base.html' %}

{% comment %}
Базовый шаблон админ-панели. Содержит меню и структуру для всех страниц админки.
{% endcomment %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Админ-панель</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'abibas:dashboard_user_list' %}" class="list-group-item list-group-item-action">Пользователи</a>
                <a href="{% url 'abibas:dashboard_product_list' %}" class="list-group-item list-group-item-action">Товары</a>
                <a href="{% url 'abibas:dashboard_order_list' %}" class="list-group-item list-group-item-action">Заказы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 